@import 'variables';

.portada-index {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to bottom, lighten($secondary-color, 5%), darken($secondary-color, 5%));
  color: white;

  h1 {
    font-size: 64px;
    color: $primary-color;
    margin-bottom: 10px;
  }

  .subtitulo {
    font-size: 28px;
    color: $tertiary-color;
    margin-bottom: 15px;
  }

  p {
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
  }

  button {
    @include boton-estilo($primary-color, $tertiary-color);
    border-radius: 20px;
    font-weight: bold;
  }
}


.seccion {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #E0E8FF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;

  img {
    max-width: 150px;
    height: auto;
    object-fit: contain;
  }
}

.faqs {
  text-align: center;
  margin-top: 40px;
  color : $secondary-color;

  .faq-item {
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
  }

  .faq-question {
    width: 100%;
    padding: 10px;
    background-color: $primary-color;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  .faq-answer {
    display: none;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    text-align: left;
  }
}

.comunidad-index {
  background-color: white;
  padding: 40px 20px;
  text-align: center;

  form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 1px solid $primary-color;
    border-radius: 15px;
    background-color: white;

    input[type="email"] {
      padding: 10px;
      font-size: 16px;
      border-radius: 10px;
      border: 1px solid $primary-color;
    }

    input[type="submit"] {
      @include boton-estilo($primary-color, $tertiary-color);
      border-radius: 10px;
    }
  }
}