// Variables globales

$primary-color: #F23DC2;
$secondary-color: #0054F5;
$tertiary-color: #F8931F;
$background-color: #F8F9FA;
$text-color: #333;
$font-family-base: 'Quicksand', sans-serif;
$font-family-title: 'Vollkorn', serif;
