// Variables globales

$primary-color: #F23DC2;
$secondary-color: #F28322;
$tertiary-color: #731D5C;
$background-color: #F8F9FA;
$text-color: #333;
$font-family: Arial, sans-serif;
$font-family-title: "DM Serif Text", serif;